/*Estilos globais*/
body{
    background-color: #fffdd0;
    font-family: 'Courier New', Courier, monospace;
}

h1{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

p{
    text-align: center;
    font-size: 20px;
    margin: 0px 20px 0px 20px;
}

button{
    border: none;
    border-radius: 5px;
    padding: 5px;
    background-color: #0d4ac7;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}

.botao_volta{
    margin: 15px 0px 0px 15px;
    background-color: #93b5e7;
}

select{
    border-radius: 5px;
    height: 25px;
}

/*Estilo da p치gina Inicial*/
.botao_menu{
    width: 180px;
    margin: 20px 0px 0px 0px;
}


/*Estilo da p치gina de Partidas*/
.menu{
    display: block;
    padding: 0px 20px 0px 20px;
}

       
/*Estilo da p치gina de cadastro*/
form{
    border: solid gray 1px; border-radius: 10px; padding: 10px;
    padding: 20px;
    margin: 0px 20px 0px 20px;
}

.text{
    font-size: 20px;
}

.cadastro_nome{
    height: 10px;  
    padding: 5px;
    border: solid gray 1px;
    border-radius: 5px;
    margin: 0px 0px 20px 0px;
}

/*Estilo da p치gina de partida*/
.caixa1{
    display: flex;
    border: solid gray 1px;
    border: 10px;
    text-align: left;
}

.caixa2{
    display: block;
    border-radius: 10px;
    width: 300px;
    padding: 20px;
    font-family: 'Courier New', Courier, monospace;
}

.branco{
    background-color: white;
    border: solid lightgray 2px;
    margin: 20px 10px 0px 20px;
}

.preto{
    background-color: black;
    color: white;
    border: solid lightgray 2px;
    margin: 20px 20px 0px 10px;
}