.barraLateral{
    text-align: center;
    background-color: white;
    height: 100%;
    width: 0px;
    display: none;
    flex-direction: column;
    position: absolute;
    z-index: 2;
    margin: 0px;
    left: 0px;
    top: 0px;
    box-shadow: 0px 5px 10px 0px black;
}

.botaoBarra{
    position: absolute;
    z-index: 1;
    left: 20px;
}

.botaoFechar{
    margin-left: 112px;
    margin-top: 20px;
    background-color: red;
    font-size: 15px;
}