/*Estilo da página Inicial*/
.botao_menu{
    width: 82%;
    margin: 20px 0px 0px 0px;
}

/*Estilo do menu da página inicial*/
.menu{
    background-color: white;
    border-radius: 10px;
    border: solid lightgray 2px;
    width: 30%;
    display: block;
    padding: 0px 0px 20px 5%;
    margin: 30px 35% 0px 35%;
}

/*Estilo de cadastro de partida*/
.formJogadas{
    display: block;
    flex-direction: row;
    text-align: left;
    margin: 0px auto 0px auto;
    padding: 20px;
    font-family: 'Courier New', Courier, monospace;
}

legend{
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
}

.linhaUnica{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.itemLinhaUnica{
    width: 50%;
}

.areaDados{
    height: min-content;
    border-radius: 20px;
    justify-content: center;
    padding: auto;
    margin-bottom: 30px;
    text-align: center;
}


/*Estilo da página de registro*/
.areaRegistro{
    background-color: white;
    border: solid 2px lightgray;
    border-radius: 20px;
    padding: 20px;
    margin: 40px 20px 0px 20px;
    min-width: auto;
}

thead{
    text-align: center;
    padding: 10px;
    background-color: #93b5e7;
}

tbody{
    text-align: center;
    min-width: auto;

}

th{
    width: 10%;
    border: solid 2px black;
}

