/*Geral*/
@import "tailwindcss";

* {
    margin: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100%;
}

main{
    min-height: 600px;
    padding: 20px 40px;
    margin: 50px 0 0 0;
}

h1{
    text-align: center;
    font-size: 55px;
    margin-top: 60px;
}

p{ text-align: center; }

a{ text-decoration: none; }

input, select{
    padding: 7px;
    border: solid 1px black;
    border-radius: 5px;
    outline: none;
}

input:focus{ border: solid 2px; }
select:focus{ border: solid 2px; }

input[type="date"]{ width: 140px; }
select{ width: 140px; }

label{ font-size: 18px;}

.caixaCampo{
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
}

.doisCampos{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap: 40px;
}

button{
    padding: 5px 7px;
    border-radius: 6px;
    text-align: center;
    font-size: 14px;
}

button:disabled{ cursor: not-allowed; }

form h2{ margin-bottom: 15px;}


form{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    padding: 15px;
    min-width: 360px;
    max-width: 500px;
    margin: 30px auto;
}

.obrigatorio{color: red; }

.formEdit{
    position: fixed;
    left: 0;
    right: 0;
    background-color: white;
}

.formEdit form{
    background-color: white;
    box-shadow: 0px 7px 5px 3px rgb(177, 176, 176);
}