<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro de Partida de Xadrez</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/estilo_barraLateral.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/estilo_cadastro.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/estilo_global.css') }}">
</head>
<body>
    <div class="barraLateral">
        <button class="botao_menu">Partidas</button>
            <br>
        <button class="botao_menu">Jogadores</button>
    </div>
    <button class="botaoBarra">Menu</button>

    <span id="conteudo"></span>
    
    <script src="{{ url_for('static', filename='js/roteamento.js')}}" type="module"></script>
    <script src="{{ url_for('static', filename='js/barraLateral.js')}}" type="module"></script>
    </body>
</html>


